@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300;500;700&display=swap');

/* Estilos Generales */

body{
    font-family: 'Catamaran', sans-serif;
    height: 100%;
    color: var(--color-footer);
}

:root {
    --color-negro:#282d33;
	--menu-hover:#282d33;
	--fondo-footer:#30363d;
	--color-footer:#898989;
    --icon-color: #e0e0e0;
    --check-color: #53c3c9;
    --info-bgcolor:#f7f7f7;
    --features-col1:#3d4248;
    --features-col2:#d8d8d8;
    --features-col3:#f0f0f0;
    --footer-bg:#282d33;
    --footer-color:#bbb;
  }

  .section-padding{
    padding: 150px 0;
}

/* header */

header{
	background-color: #fff;
}

/* hero */

.hero {
	background-image:
		linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("../img/Services-Title-Image.jpg");
	padding: 200px 0px;
	background-size: cover;
	background-position: top center;
	text-align: center;
	color: #FFF;
}

  /* icons */

  .icons .card-body i{
    color: var(--icon-color); 
    font-size: 200px;
 }

  .icons .card-title{
     color: var(--color-negro); 
  }

  .icons .check i{
      color: var(--check-color);
      font-size: 60px;
      font-weight: 700;
  }

  /* Info */

  .ifo{
      background-color: var(--color-footer);
  }

  .info .card {
      height: 350px;
  }


  /* features */

  .fc1{
      background: var(--features-col1);
      color: var(--features-col3);
  }

  .fc2{
    background: var(--features-col2);
    color: var(--features-col3);
}

.fc3{
    background: var(--features-col3);
    color: var(--features-col1);
}

/* footer */

footer{
	background-color: var(--fondo-footer);
	color: var(--color-footer);
	padding: 20px 0;
	text-align: center;
	font-size: 13px;
}
